@import "../Vars.scss";

.About {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.About__image--container {
    height: 50vh;
    display: flex;
    justify-content: center;
}

.About__image {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}

.About__text--container {
    // border: 2px solid blue;
    width: 80vw;
    margin-bottom: 40px;

    .About__h1 {
        font-family: $title-font;
        font-size: 48px;
        font-weight: 500;
        color: $text-title;
        text-align: center;
    }
}

.About__p {
    font-size: 18px;
    font-weight: 600;
} 

.About__photos {
    // border: 2px solid green;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.About__photos--container {
    // border: 2px solid yellow;
    margin-bottom: 40px;
    width: 360px;
    height: 440px;
    overflow: hidden;
    text-align: center;
    background: #fff;
}

.About__photos--image {
    object-fit: cover;
    height: 360px;
    align-items: center;
}