
.Description__container {
    margin: auto;
    padding: 12px;
    padding-top: 24px;
    max-width: 1000px;
}

.Description {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 24px;
    border-bottom: 3px solid #111190;
}

.Description__perfil {
    width: 200px;
    height: 200px;
    border: 3px solid #111190;
    border-radius: 50%;
    overflow: hidden;
}

.Description__img {
    width: 200px;
    height: 200px;
}

.Description__info {
    margin: auto;
    align-items: center;
}