@import "../Vars.scss";

.Header {
    // border: 2px solid green;
    // background: rgb(0, 92, 151); // #fff;

    background: rgba(0, 92, 151, 1);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(54, 56, 150, 1), rgba(0, 92, 151, 1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(54, 56, 150, 1), rgba(0, 92, 151, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.4);
}

.Header__container {
    // border: 2px solid red;
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__title {
    font-family: $title-font;
    font-weight: 500;
    color: #f2f2f2; // $text-title;
    font-size: 14px;
}

.Header__menu {
    display: inline;
}

.Header__menu--list {
    padding: 0px 12px;
    text-decoration: none;
    font-weight: 600;
    color: #f2f2f2; // #313434;
}

.Header__icon {
    height: 38px;
    width: 38px;
    display: none;
    font-size: 20px;
    color: #f2f2f2;
    border: solid 3px #f2f2f2;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width:769px) {
    
    .Header__container {
        height: 50px;
    }
    
    .Header__title {
        font-size: 12px;

        h1 {
            font-weight: 400;
        }
    }

    .Header__menu {
        padding: 0px;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -100%;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .Header__menu--active {
        margin: 0px;
        padding: 0px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: 28px;
        font-weight: 600;
        background: rgba(233, 233, 233, 0.7);
        left: 0;
        top: 50px;
        width: 100vw;
        height: 100vh;
        z-index: 8;
    }

    .Header__icon {
        display: block;
    }

    .Header__menu--list {
        margin: 18px 18px;
        padding: 16px 0px;
        width: auto;
        text-align: center;
        border: 2px solid #313434;
        background: rgba(0, 92, 151, 0.8);    // rgba(233, 233, 233, 0.7);
    }
}