@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap);

$title-font: 'Lobster', cursive;
$primary-font: 'Montserrat', sans-serif;

$primary-color: #b4b4b4;    
$secondary-color: #cfcfcf;   
$thirth-color: #ffffff;  
$fourth-color: #313131; 
$fifth-color: #0f204b;  
$sixth-color: #176498;

$text-color: #e2e2e2;   
$text-title: #0f204b;

$background-primary: #f0f0f0;
$background-secondary: #f2f2f2;

